body {
    margin: 0;
    padding: 0;
}

nav {
    height: 50px;
    display: flex;
    /*不理解*/
}

.logo {
    text-decoration: none;
    line-height: 50px;
    /*不理解*/
    height: 50px;
    /*不理解*/
    letter-spacing: 1px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;

}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    padding-right: 20px;
}

nav ul li a{
    line-height: 50px;
    height: inherit;
    text-decoration: none;
    color: #fff;

}

#banner {
    height: 700px;
    color: #fff;
}
.article #banner .inner{
    top:30px;
}

.article #banner{
    height:300px;
}

#banner .inner {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    /*左右居中*/
    position: relative;
    /*相对自身定位*/
    top: 160px;
    /*距离顶部160像素。*/

}














footer{
    background:#333;
    color: #fff;
    min-height: 200px;
    text-align: center;

}
ul{
    margin:0;
}
.share-group li{
    display: inline-block;
    padding: 10px;
}


.share-group  {
    margin: 0 auto;
    padding: 50px;
}
.copy{
    padding-bottom: 20px;
}
.important-wrapper{
    background-size: cover;
    background: #444 url('../image/banner.jpg') no-repeat fixed center;

}
header{
    background :rgba(0,0,0,0.4);

}


#back-top{
    background: #3f3965;
    color:#fff;
    border:1px solid #888;
    padding:5px;
    border-radius: 0;
    position:fixed;
    bottom:30px;
    right:30px;

}

#sidebar{
    position:fixed;
    top:0;
    right:-300px;
    bottom:0;
    width:300px;
    background: #333;
    transition:right  0.5s;
}
#sidebar ul{
    list-style: none;
    padding:0;
    margin:0;
}
#sidebar ul a{
    padding:10px 30px;
    display:inline-block;
    text-decoration: none;
    color:#fff;
    width:100%
}
#sidebar ul a:hover{
    background: #444;

}
#mask{
    display: none;
    position:fixed;
     top:0;
    bottom:0;
    right:0;
    left:0;
    background:rgba(0,0,0,0.3);


}
.content_wrapper{
    width:1080px;
    margin:0 auto;
}
.article_content{
    background: #efefef;
}
article{
    line-height: 2;
    padding:15px 0;
}
.article_info{
    font-size: 14px;
    color:#888;
    padding:15px 0;
}