body {
    margin: 0;
    padding: 0;

}

#header {
    height: 40px;
    background: #666;
    display: flex;
    justify-content: flex-end;
}

#part {
    text-decoration: none;
    color: #ccc;
    display: flex;
    padding-right: 150px;
    font-size: 10px;
    align-items: center;
}

#title {
    display: flex;
    justify-content: space-around;
    padding-left: 120px;
    padding-right: 120px;
    background: #333;

}

#title a {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#image-container img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

#image-iphone {
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fafafa;

}

#image-iphone img {
    display: flex;
    width: 909px;
    height: 194px;

}

.par {
    font-size: 50px;

}

.pare {
    font-size: 20px;

}

.pare span {
    font-size: 25px;
}

#image-iphone8 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #faf0ea;
    margin-top: 15px;

}

#image-iphone8 img {
    display: flex;
    width: 600px;
    height: 350px;

}

.demo {
    font-size: 25px;

}

.iphone-8 {
    font-size: 50px;

}

.demo span {
    font-size: 25px;
}

#big-frame {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.picture-container:nth-of-type(even) {
    border-left: 0 solid white;
}

.picture-container {
    width: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    border: 12px solid white;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 0;
}

.picture-container img {
    display: inline-block;
}

#big-frame .mac {
 background-color: #191919;
}

.picture-container .title {
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffdb89;
}
