body {
    margin: 0;
    padding: 0;

}

#header {
    height: 40px;
    background: #666;
    display: flex;
    justify-content: flex-end;
}

#part {
    text-decoration: none;
    color: #ccc;
    display: flex;
    padding-right: 80px;

}

#title {
    display: flex;
    justify-content: space-around;
    padding-left: 120px;
    padding-right: 120px;
    background: #333;
    text-decoration: none;
}

#title a {
    display: flex;
    color: #fff;

}

#image-container img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

#image-container {

}