body {
    margin: 0;
    padding: 0;

}

#header {
    height: 40px;
    background: #666;
    display: flex;
    justify-content: flex-end;
}

#part {
    text-decoration: none;
    color: #ccc;
    display: flex;
    padding-right: 150px;
    font-size: 10px;
    align-items: center;
}

#title {
    display: flex;
    justify-content: space-around;
    padding-left: 120px;
    padding-right: 120px;
    background: #333;

}

#title a {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#image-container img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

#image-iphone {
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fafafa;

}

#image-iphone img {
    display: flex;
    width: 909px;
    height: 194px;

}

.par {
    font-size: 50px;

}

.pare {
    font-size: 20px;

}

.pare span {
    font-size: 25px;
}