html, body {
    margin: 0;
    padding: 0;
}

.parent {
    background: #ffcccc;
}

.box {
    background-color: #ff9999;
    padding: 30px;
    margin: 30px;
    border: 30px solid green;
    display: inline-block;
}
.box-size{
    box-sizing: border-box;
}

.child {
    background: #ff3333;

}