body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background: #edf3f9;
    display: flex;
    justify-content: space-between;
    align-items:center;

}

header ul li {
    list-style: none;
    display: inline-block;

}

header a {
    text-decoration: none;
    font-size: small;
    color: #0000cc;

}


#container {
    display: flex;
    flex: 1;

}

.side-left {

}

.side-left h2 {
    color: #8470ff;
}

.side-left p {
    font-size: 4px;
    font-weight: 600;
}

.side-right a {
    text-decoration: none;
    font-size: 6px;
    color: rosybrown;
}

.side-right {

    width: 350px;
    height: 310px;
    border: 1px solid black;
    text-align: center;
}

.line {
    border: 1px solid gray;
}

input {

}

.side-right #more {
    color: white;
    background-color: dodgerblue;
    border: 0;
}

.footer {
    background: #edf3f9;
    border: 1px solid gray;
    text-align: center;

}

.footer ul li {
    display: inline-block;

}

.footer a {
    text-decoration: none;
    font-size: 6px;

}

.footer span {
    font-size: 6px;
    color: darkgray;
}
.letter{
    margin-left:500px;


}
#container img{
    margin-left:650px;
}