body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    /*主轴方向*/
    flex-direction: column;
    min-width: 1110px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

header {
    background: #edf3f9;
    /*内边框*/
    padding: 20px 30px;
    border: 1px solid #d2dbe7;
    /* display: flex默认横向布局*/
    display: flex;
    /*主轴上的对齐方式*/
    justify-content: space-between;
    /*垂直轴*/
    align-items: center;
}

header  .nav a {
    color: #234c89;
    padding: 0 5px;
    font-size: 10px;
}

#container {
    display: flex;
    /*沾满整个屏幕*/
    flex: 1;
}

.side-left {
    display: flex;
    flex: 3;
    /*垂直方向顶部对齐*/
    align-items: flex-start;
    justify-content: flex-end;
    padding: 50px;
}

.side-left h2 {
    color: #77ABD4;
}

.side-right {
    display: flex;
    flex: 2;
    /*垂直方向顶部对齐*/
    align-items: flex-start;
    padding: 50px;
}

.side-right .form {
    border: 1px #98A9BD solid;
    width: 344px;
    height: 387px;
    text-align: center;
    border-radius: 3px;
    display: flex;
    /*主轴方向*/
    flex-direction: column;
}

.side-right .form .title {
    background-color: #F8FAFE;
    padding: 15px;
    display: flex;
    /*主轴的每个项目的两侧间隔相等*/
    justify-content: space-around;
    border-bottom: 1px #98A9BD solid;
}

.side-right .form #content {
    padding: 40px 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.side-right .form #content .ctx {
    flex: 1;
}

.side-right .form .input1 {
    border: 1px #98A9BD solid;
    padding: 10px;
    width: 100%;
    /*border,padding有时候会溢出容器，伸到外面，这个用来约束到容器里面的*/
    box-sizing: border-box;
}

/*  ‘+’的意思是相邻选择器*/
.side-right .form .input1 + .input1 {
    margin-top: 10px;
}

.side-right .form .title a {
    color: #2E2E2E;
}

.side-right .form label {
    display: block;
    text-align: start;
    padding: 10px 0;
    font-size: 14px;
    /*垂直方向对齐*/
    vertical-align: bottom;
}

.side-right .form .checkbook {
    text-align: start;
}

.side-right .form #button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 18px;
    background-color: #6699DA;
    color: #fff;
    border: none;
    border-radius: 3px;
    letter-spacing: 8px;
}

.side-right .form #link {
    font-size: 14px;
    padding: 0 5px;

}

.footer {
    background: #edf3f9;
    border: 1px solid #d2dbe7;
    text-align: center;
    padding: 5px 0;
    font-size: 6px;
    color: #264d87;
}

.footer a {
    padding: 0 5px;
}

.footer span {
    font-size: 6px;
    color: darkgray;
}

.tab {

    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex: 1;
    display: none;

}

.side-right .tab img {
    padding: 5px;
    border: 1px solid #cccccc
}

.side-right .tab .load {
    border-radius: 10px;
    background: #E9E9E9;
    color: #767676;
    padding: 5px 10px;
    margin: 8px;
    font-size: 12px;
    border: none;
    text-decoration: none;
}

.side-right .tab .more {
    width: 100%;
    display: flex;

}

.side-right .tab .inner {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;

}

.side-right .tab .inner a {
    padding-right: 5px;
    padding-left: 5px;
}

.tab .qr {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}